---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.png",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title ? title + " | " + "Textstat" : "Textstat";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />

    <script data-id="101446851" src="https://clicky.textstat.org/626b4fc074e.js"
    ></script>
    <script>
      (function () {
        const proxied = clicky?.inject;

        clicky.inject = function (src, type) {
          if (src.startsWith("/b6bbbd0c429")) {
            return proxied(`https://clicky.textstat.org${src}`, type);
          }

          return proxied(src, type);
        };
      })();
    </script>

    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="Textstat is an easy to use Python library to calculate statistics from text"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Textstat - A Python library to calculate statistics from text`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Textstat Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
